body{
	color: lightpink;
	font-family: Arial;
}

p{
	text-align:left;
}
h1{text-align: center;
color: gold;
}
.puppy{
	text-align: left;
    font-family: Arial;
}
h2{
	color:hotpink;
}
h3{
color: hotpink;
}
h4{
color:hotpink ;
}
.kitten{
	background-color: hotpink;
}
table,th,td{
border: 1px solid black;
width: 60%;
}
nav{text-align: center;
justify-content: center;
padding: 5;
margin: 3;
font-weight: bold;
}