body{
	color: lightpink;
	font-family: Arial;
}

p{
	text-align:left;
}
h1{text-align: center;
color: gold;
}
.puppy{
	text-align: left;
    font-family: Arial;
}
h2{
	color:hotpink;
}
h3{
color: hotpink;
}
h4{
color: hotpink;
}
.kitten{
background-color:hotpink ;
}